*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
header{
    padding: 32px 0;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
.btn{
    width: 168px;
    height: 44px;
    color: white;
    background-color: #7209B7;
    border-radius: 6px;
    border: none;
}
.btn:hover{
    background-color: black;
}
.btn2{
    border: none;
    background-color: inherit;
    font-size: 20px;
    display: none;
}
nav ul li a,p {
    text-decoration: none;
    color: black;
    font-family: Stem;
font-weight: 500;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
}
.hero{
    height: 798%;
    background-image:url("./004.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    width: 445px;
    height: 460px;
    background-color: white;
    border-radius: 16px;
    padding: 40px;
}
.card h3{
    font-family: Stem;
font-weight: 500;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
padding-bottom: 5px;
}
input{
    width: 365px;
    height: 56px;
    color:black;
    background-color: white;
    border: 1px solid #0000001A;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn3{
    width: 365px;
    height: 56px;
    color: white;
    background:#7209B7;
    border: none;
    border-radius: 6px;
    margin-bottom: 24px;
}
.btn3:hover{
    background-color: black;
}
.tex h1{
    font-family: Stem;
font-weight: 700;
font-size: 64px;
line-height: 68px;
letter-spacing: 0%;
color: white;
padding-bottom: 24px;
}
.tex p{
    font-family: Stem;
font-weight: 500;
font-size: 24px;
line-height: 31.2px;
letter-spacing: 0%;
color: white;
width: 445px;
}
.hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
   padding-top: 200px;
}
.hero2 h1{
font-weight: 700;
font-size: 48px;
line-height: 52px;
letter-spacing: 0%;
text-align: center;
color: #000;
margin-top: 100px;
padding-bottom: 24px;
}
.hero2 p{
    font-family: Stem;
font-weight: 500;
font-size: 24px;
line-height: 31.2px;
letter-spacing: 0%;
text-align: center;
color: #011627B2;
padding-bottom: 64px;
}

.card2{
    width: 350px;
    height: 531px;
}
.card2 h2{
    font-family: Stem;
font-weight: 500;
font-size: 24px;
line-height: 31.2px;
letter-spacing: 0%;
color: #011627;
padding-top:24px ;
padding-bottom: 10px;
}
.card2 h5{
    font-family: Stem;
font-weight: 700;
font-size: 13px;
line-height: 18px;
letter-spacing: 0%;
color:  #011627B2;
padding-bottom: 16px;
}
.card2 h3{
font-weight: 700;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
color: #7209B7;
padding-bottom: 20px;
}
.btn4{
    width: 114px;
    height: 40px;
    color: white;
    background-color: #7209B7;
    border: none;
    border-radius: 4px;
}
.btn4:hover{
    background-color: #000;
}
.ota{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.hero3{
   height:  584%;
    background-image: url("./02.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}

.hero3 h6{
font-weight: 600;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #2EC4B6;
padding-bottom: 16px;
padding-top: 100px;
}
.hero3 h1{
    font-family: Gilroy;
font-weight: 700;
font-size: 48px;
line-height: 52px;
letter-spacing: 0%;
text-align: center;
color: white;
padding-bottom: 16px;
}
.hero3 p{
    font-family: Gilroy;
font-weight: 600;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: white;
padding-bottom: 32px;
}
.btn5{
    width: 114px;
    height: 40px;
    color: white;
    background-color: #7209B7;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 100px;
}
.btn5:hover:hover{
    background-color: #000;
}
.a{
    text-align: center;
}
.hero4 h3{
    font-family: Stem;
font-weight: 500;
font-size: 28px;
line-height: 36.4px;
letter-spacing: 0%;
text-align: center;
color: #7209B7;
padding-bottom: 24px;
margin-top: 120px;
}
.hero4 h1{
font-weight: 700;
font-size: 64px;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
color: #000;
padding-bottom: 16px;
}
.hero4 p{
font-weight: 500;
font-size: 24px;
line-height: 31.2px;
letter-spacing: 0%;
text-align: center;
color: #011627B2;
padding-bottom: 64px;
}
.card3{
    width: 370px;
    height: 212px;
    text-align: center;
    margin-top: 64px;
}
.hero4 h4{
font-weight: 500;
font-size: 28px;
line-height: 36.4px;
letter-spacing: 0%;
text-align: center;
color: #000;
padding-top: 32px;
padding-bottom: 16px;
}
.ota2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
}
.bola .n{
margin-top: 320px;
}
.bola .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}
.m{
    margin-top: 320px;
}
main{
    background-color: #2EC4B6;
    padding: 120px 0;
}
.hero5 h1{
font-weight: 700;
font-size: 64px;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
color: white;
padding-bottom: 24px;
}
.hero5 p{
    font-family: Stem;
font-weight: 500;
font-size: 24px;
line-height: 31.2px;
letter-spacing: 0%;
text-align: center;
color: white;
padding-bottom: 64px;
}
.ba{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.hero6{
margin-top: 144px;
text-align: center;
}
.hero6 p{
    font-family: Gilroy;
font-weight: 700;
font-size: 24px;
line-height: 28.8px;
letter-spacing: 0%;
text-align: center;
color: white;
padding: 32px 0;
}
.hero6 h4{
    font-family: Gilroy;
font-weight: 600;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: white;
}
.hero7 h3{
font-weight: 500;
font-size: 28px;
line-height: 36.4px;
letter-spacing: 0%;
text-align: center;
color: #7209B7;
padding-top: 120px;
padding-bottom: 24px;
}
.hero7 h1{
font-weight: 700;
font-size: 64px;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
color: #000;
padding-bottom: 24px;
}
.hero7 p{
    font-family: Stem;
font-weight: 500;
font-size: 24px;
line-height: 31.2px;
letter-spacing: 0%;
text-align: center;
color: #000000B2;
padding-bottom: 64px;
}
.card5{
    width: 350px;
    height: 380px;
    background-image: url("./Rectangle\ 54.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.card5 h2{
font-weight: 500;
font-size: 28px;
line-height: 36.4px;
letter-spacing: 0%;
text-align: center;
color: white;
padding-top: 278px;
}
.card5 p{
    color: white;
}
.ota4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 120px;
}
footer{
    text-align: center;
}
.d{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px ;
}
footer h5{
    font-family: Stem;
font-weight: 700;
font-size: 15px;
line-height: 20px;
letter-spacing: 0%;
color: #00000099;
padding-bottom: 80px;
}






































































































































@media(max-width:740px){
    nav ul{
        display: none;
    }
    .btn2{
        display: block;
    }
     header{
        padding: 32px ;
     }
     .hero .container{
        flex-wrap:wrap;
     }
     .card{
        margin-top: 100px;
     }
     .ota{
        padding: 32px ;
     }
     .card3{
        margin-top: 150px;
     }
     .ota4{
        padding: 32px;
     }
}